	
	.image{
		margin-right: 0px; 
		margin-top: 10px;
	}

	.heading{
		font-family: parry_hotterregular;
		color: white;
	}


	.subHeading{
		text-align: center;

		font-size: 50px; 
		padding: 30px; 
		background-color: #223454; 
		margin-bottom: 15px; 
		display:block;
	}

	.mainHeading{
		font-size: 120px;
		margin-left: 0px;
		margin-top: 30px;
	}

	.video{
		 margin-bottom: 10px;
	}

	#text{
		text-align: justify;
		line-height: 27px;
		font-size: 17px;
		font-weight: bold;
		color: #223454 ;
		
	}