@font-face {
    font-family: 'parry_hotterregular';
    src: url('font/parryhotter-webfont.woff2') format('woff2'),
         url('font/parryhotter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}