ul {
    	
    	margin-bottom: 0px;
        padding-bottom: 0px;
    	overflow: hidden;
    	background-color: #223454  ;
	}

	li {
		list-style-type: none;
    	float: left;

	}

	li a {
  	  	
    	text-align: center;
    	padding: 14px 16px;
        font-size: 35px;
        color: white;
	}

	li a:hover {
   	 	background-color: #0093b8;
	}

